* {
  padding: 0px;
  margin: 0px;
}

.main {
  height: 1024px;
  background-image: url(img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000915;
}

.main__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
  max-width: 481px;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.main__form {
  width: 234px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__button {
  width: 234px;
  height: 48px;
  margin-top: 44px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.button:hover {
  background: #EB443F;
}

.nav {
  min-height: 556px;
  background: #000915;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  gap: 28px;
}

.nav__item {
  width: 378px;
  height: 300px;
  border-radius: 16px;
}

.nav__item:hover {
  border: 3px solid #44D2FF;
}

.nav__item1 {
  background-image: url(img/nav1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__item2 {
  background-image: url(img/nav2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__item3 {
  background-image: url(img/nav3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__text {
  position: absolute;
  margin-left: 32px;
  margin-top: 236px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.section {
  height: 800px;
  background-color: #000915;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section__box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section__title {
  font-size: 48px;
  line-height: 58px;
}

.section__text {
  max-width: 584px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    max-width: none;
  }
  .main__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    height: 1220px;
    justify-content: center;
    align-content: center;
  }
  .section {
    height: 656px;
  }
}/*# sourceMappingURL=style.css.map */