*{
    padding: 0px;
    margin: 0px;
}
.main{
    height: 1024px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.main__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
}
.main__button{
    width: 234px;
    height: 48px;
    margin-top: 44px;
    background: #9C0332;
    border: none;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.nav{
    height: 556px;
    background: #000915;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    position: relative;
}
.nav__item{
    width: 378px;
    height: 300px;
    border-radius: 16px;
}
.nav__item1{
    background-image: url(img/nav1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav__item2{
    background-image: url(img/nav2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav__item3{
    background-image: url(img/nav3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav__text{
    position: absolute;
    margin-left: 32px;
    margin-top: 236px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}